//////////////////////////////////////////////////
//                                              //
//  List Styling Module                         //
//                                              //
//  Created: 01-08-2013                         //
//  Author: Mat Hayward @ Erskine Design        //
//  Last Editor: Mat Hayward @ Erskine Design   //
//  http://www.erskinedesign.com                //
//  Requires: Text styling module               //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

$list__number-color: #CC0000 !default;

////////////////////
// Styling        //
////////////////////

/*
## Lists

Basic list

```
<ul class="list">
    <li class="list__item">Apples</li>
    <li class="list__item">Pears</li>
    <li class="list__item list__item--end">Carrots</li>
</ul>

```
*/

.list {
    padding-left: calc-em(10);
    margin-bottom: calc-em(15);
    list-style-type: none; // Added to make styleguide work
    font-family: $text__family-sans; // Added to make styleguide work
}

.list__item {
    margin-bottom: calc-em(10);
}

.list__item--end {
    margin-bottom: 0;
}



// Bullet modifier
/*

Bulleted list

```
<ul class="list list--bullet">
    <li class="list__item">Apples</li>
    <li class="list__item">Pears</li>
    <li class="list__item list__item--end">Carrots</li>
</ul>

```

*/
.list--bullet {
    list-style-type: disc;
    padding-left: calc-em(25);

    .list__item {
        margin-bottom: calc-em(5);
    }

}



// Number modifier
/*

Numbered list

```
<ol class="list list--number">
    <li class="list__item">Apples</li>
    <li class="list__item">Pears</li>
    <li class="list__item list__item--end">Carrots</li>
</ol>

```

*/
.list--number {
    counter-reset: items;
    padding-top: calc-em(5);

    .list__item {
        margin-bottom: calc-em(5);

        &:before {
            counter-increment: items 1;
            content: counter(items, decimal) ".";
            color: $list__number-color;
            margin-right: calc-em(5);
        }
    }

    .list__item--end {
        margin-bottom: 0;
    }
}


// Method modifier
/*

Method list

```
<ol class="list list--method">
    <li class="list__item">Apples</li>
    <li class="list__item">Pears</li>
    <li class="list__item list__item--end">Carrots</li>
</ol>

```

*/
.list--method {

    @extend .list--number;

    .list__item {
        margin-bottom: calc-em(15);

        &:before {
            @include text($text__size--beta, $text__line--beta, $color: $list__number-color);
            font-style: italic;
        }
    }

    .list__item--end {
        margin-bottom: 0;
    }

}