//////////////////////////////////////////////////
//                                              //
//  Media Styling Module                        //
//                                              //
//  Created: 01-08-2013                         //
//  Author: Mat Hayward @ Erskine Design        //
//  Last Editor: Mat Hayward @ Erskine Design   //
//  http://www.erskinedesign.com                //
//  Requires: Text styling module               //
//                                              //
//////////////////////////////////////////////////


//////////////////////////////
// Default variables        //
//////////////////////////////

$media__border: 1px dotted #CCCCCC !default;
$media__padding: 20, 0, 10, 0 !default;


////////////////////
// Styling        //
////////////////////

/*
## Media modules

Basic media module

```
<figure class="media">
    <img src="http://www.placekitten.com/300/200" class="media__item" alt="A cat" />
    <figcaption class="media__caption">This is a cat</figcaption>
</figure>

```

Full width media module

```
<figure class="media media--full">
    <img src="http://www.placekitten.com/300/200" class="media__item" alt="A cat" />
    <figcaption class="media__caption">This is a cat</figcaption>
</figure>

```

*/

.media {
    border-top: $media__border;
    border-bottom: $media__border;
    padding: calc-em(nth($media__padding, 1)) calc-em(nth($media__padding, 2)) calc-em(nth($media__padding, 3)) calc-em(nth($media__padding, 4));
}

.media__caption {
    text-align: center;
    font-style: italic;
    margin-top: calc-em(5);
    font-family: $text__family-sans; // Added to make styleguide work
}

.media--full {
    width: 100%;
    margin: 0 0 calc-em(10) 0;

    .media__item {
        width: 100%;
    }
}