//////////////////////////////////////////////////
//                                              //
//  Text Styling Module                         //
//                                              //
//  Created: 01-08-2013                         //
//  Erskine Design                              //
//  Last Editor: Mat Hayward @ Erskine Design   //
//  http://www.erskinedesign.com                //
//  Requires: Text styling module               //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

$text__family-sans:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Base font-sizes
$text__size--alpha: 30 !default;
$text__size--beta: 24 !default;
$text__size--gamma: 20 !default;
$text__size--delta: 15 !default;

// Base line-heights
$text__line--alpha: 36 !default;
$text__line--beta: 28 !default;
$text__line--gamma: 22 !default;
$text__line--delta: 20 !default;

// Colours
$text__colour--base: #333333 !default;
$text__colour--alpha: #990000 !default;
$text__colour--beta: #990000 !default;
$text__colour--gamma: #333333 !default;
$text__colour--delta: #333333 !default;


/////////////////////////////////
// Mixins and Functions        //
/////////////////////////////////

// ## Includes standard text styling properties.
// $size: (required) Required font size in pixels
// $line: (required) Required line height in pixels
// $family (optional) Font family stack string
@mixin text($size, $line, $margin: 0, $family: $text__family-sans, $color: $text__colour--base, $weight: normal) {
    font-size: calc-em($size);
    line-height: ($line/$size);
    font-family: $family;
    font-weight: $weight;
    color: $color;
    margin-bottom: calc-em($margin, $size);
}


////////////////////
// Styling        //
////////////////////

html {
    font-size: $base__font-size * 1px;
}

body {
    @include text($base__font-size, $base__line, $color: $text__colour--base);
}

h1 {
    @include text($text__size--alpha, $text__line--alpha, 15, $color: $text__colour--alpha, $weight: bold);
}

h2 {
    @include text($text__size--beta, $text__line--beta, 15, $color: $text__colour--beta);
}

h3 {
    @include text($text__size--gamma, $text__line--gamma, 15, $color: $text__colour--gamma);
    text-transform: uppercase;
}

p {
    @include text($text__size--delta, $text__line--delta, 10, $color: $text__colour--delta);
}
